asgiref                ~= 3.8.1
Django                 ~= 5.1.5
django-mongodb-backend ~= 5.1.0b0
dnspython              ~= 2.7.0
pip                    ~= 25.0
pymongo                ~= 4.11
sqlparse               ~= 0.5.3
